<div class="reviews" xmlns="http://www.w3.org/1999/html">
  <div class="row heading"><span>Co o <span class="soca">nas</span> mówią goście?</span></div>
  <div class="row">

    <div class="column">
      <h3>Monika</h3>
    <div>
      <blockquote>
      <p>To są po prostu zajęcia terapeutyczne dla ciała i ducha - uśmiech nie schodzi z twarzy! Cała ekipa z Agą na czele - rewelacja!
      </p>
      </blockquote>
    </div>
    </div>
    <div class="column">
      <h3>Wojciech
      </h3>
      <div><blockquote>
      <p>Witam bardzo serdecznie polecam zajęcia Zumby z Agą można naprawdę fajnie spożytkować nadmiar energi i zrelaksować się ćwicząc a za razem tańcząc pozdrawiam 😉😉😉
      </p>
    </blockquote>
      </div>
    </div>
    <div class="column">
      <h3>Małgorzata </h3>
      <div>
      <blockquote><p>Szeroka oferta wszelakich wygibasów, zarówno dla najmłodszych jak i dla dzieci.
      </p></blockquote></div>
    </div>

  </div>
</div>
