@media (min-width: 1000px) {
  .heading, .heading>h3, .soca{
    font-weight: 400;
    font-size: 50px !important;
  }
  .reviews{
    p{
      font-size: 25px !important;
    }
  }
}




blockquote {
  position: relative;
  /* background: #ddd; */
}

blockquote:before {
  position: absolute;
  content: open-quote;
  font-size: 4em;
  margin-left: -0.6em;
  margin-top: -0.4em;
}
blockquote:after {
  position: absolute;
  content: close-quote;
  font-size: 4em;
  bottom: 0;
  right: 0;
  margin-bottom: -0.8em;
}
blockquote p {
  display: inline;
}

.heading {
  padding-bottom: 5vh;
  text-align: center;

  .soca {
    color:#ec2024
  }

}

.reviews {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .column {
      -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
      -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
      box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
      width: 25%;
      float: left;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;

      h3{
        color: #ec2024;
        font-weight: 400;
      }
      &:hover {
        background-color: #dfe4ea;
        cursor: pointer;
      }

      p {
        padding: 0 10px;

      }
    }
  }

  h3 {
    font-size: 30px;
  }

  img{
    max-height: 250px;
    width: auto;
  }
}

@media(max-width: 768px) {
  .heading {
    h3 {
      font-size: 26px;
    }
  }
  .nav {
    display: none !important;
  }

  .desktop-hide {
    display: block !important;
  }

  .silder h1 {
    font-size: 36px;
  }

  .reviews {
    .row {
      flex-direction: column;
    }

    .column {
      width: 100% !important;
    }
  }

  .contents {
    h2 {
      padding: 0px !important;

    }

    .row {
      flex-direction: column;
    }


    .column {
      width: 100% !important;
    }
  }
}

