<div class="contents" id="about" >

  <div class="row">
    <div class="column">
      <img src="assets/img/aga.png" [alt]="founder">
    </div>
    <div class="column center-content description">
      <span>Witaj w <span class="soca">Soca</span>!
      </span>
      <p>Nazywam się Agnieszka Kozioł i stworzyłam studio, w którym zadbamy o Twoje samopoczucie, sylwetkę i ruchy!
        Jestem instruktorką Zumby z ponad 10 letnim stażem oraz matką trzech dziewczynek.
        Soca to miejsce, w którym się odnajdziesz. Ofertę kierujemy do osób, które pragną oderwać się choć na chwilę od życia codziennego. Stawiamy na rozrywkę i takie zajęcia u nas znajdziesz!

      </p>
    </div>
  </div>

</div>
