<div class="contents" id="about" >

  <div class="row">
    <div class="column">
      <img src="assets/img/aga.png">
    </div>
    <div class="column center-content">
      <h3>Hej to ja, Aga!
      </h3>
      <p>Prowadzę dla Was pierwsze profesjonalne Studio Tańca w Czechowicach!
        Zumba z Agą to zajęcia fitness połączone z podstawowymi krokami tańców latynoamerykańskich. Zajęcia przeznaczone są dla wszystkich! Nie ważne ile masz lat - przyjdź i spróbuj!
        Zapraszamy na zajęcia dzieci, młodzież, dorosłych oraz seniorów!

      </p>
    </div>
  </div>

</div>
