<div class="contents" id="about" >
  <h2>Component
  </h2>
  <div class="row">
    <div class="column center-content">
      <h3>Angular Material Form
      </h3>
      <p>Angular Material is a component used to wrap several Angular Material components and apply common Text
        field styles such as the underline, floating label, and hint messages.
      </p>
    </div>
    <div class="column">
      <img src="https://unsplash.com/photos/DPKYNu2Vvk0/download?force=true">
    </div>
  </div>
  <div class="row">
    <div class="column">
      <img src="https://unsplash.com/photos/MI9-PY5cyNs/download?force=true">
    </div>
    <div class="column center-content">
      <h3>Angular Material Buttons
      </h3>
      <p>Angular Material buttons are native button or a tags elements enhanced with Material Design styling and ink
        ripples.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="column center-content">
      <h3>Angular Material Stepper</h3>
      <p>Material stepper builds on the foundation of the CDK stepper that is responsible for the logic that drives
        a stepped workflow. Material stepper extends the CDK stepper and has Material Design styling.
      </p>
    </div>
    <div class="column">
      <img src="https://unsplash.com/photos/6JVlSdgMacE/download?force=true">
    </div>
  </div>
  <div class="row">
    <div class="column">
      <img src="https://unsplash.com/photos/Fi-GJaLRGKc/download?force=true">
    </div>
    <div class="column center-content">
      <h3>Angular Material Tables
      </h3>
      <p>This table builds on the foundation of the CDK data-table and uses a similar interface for its data input
        and template.
      </p>
    </div>
  </div>
</div>
