@media (min-width: 1000px){
  h3{

      font-weight: 400;
      font-size: 50px !important;

  }
  p{
    font-size: 25px !important;
  }
}
.soca {
  color:#ec2024;
}
@media (max-width: 1000px) {
  .column>img{
    margin-bottom: 0 !important;
  }
  .description{
    margin-top: 0 !important;
  }
  .column>span{
    font-size: 30px !important;
  }
}
.contents{

  height: 100vh;
  display: flex;
  justify-content: center;
  .column>img{
    max-height: 400px;
    width: auto;
    margin: auto;
  }
}
.column{
  display: contents;
  margin: auto;
  width: 100%;
  img{
    max-width: 60vw;
    margin: auto;
    object-fit: contain;
  }

}
