.row{
  height: 100vh;
  text-align: center;
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  span{
    font-weight: 400;
    font-size: 50px !important;
    span{
      color:#ec2024;
      font-weight: 400;
    }
  }
  object{
    width: 90%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
  }

}
