.row {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.pricing{
  width: 95%;
  display: flex;
  justify-content: center;
}
.title{
  width:100vw;
  text-align: center;
}

@media (min-width: 1000px){
  .title>span{

    font-weight: 400;
    font-size: 50px !important;

  }

}
.soca {
  color:#ec2024;
}
@media (max-width: 1000px) {

  .title>span{
    font-size: 30px !important;
  }
}


.columns {
  float: left;
  width: 22.5%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #a21835;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .title{
    margin-bottom: 15px;
  }
  .pricing{
    display: initial;
  }
  .columns {
    width: 95%;
  }
}
