<div class="row">
  <div class="title"><span>Cennik</span></div>
  <div class="pricing">
    <div class="columns">
      <ul class="price">
        <li class="header">Zumba KIDS</li>
        <li class="grey">Karnety ważne miesiąc</li>
        <li>4&times;60 min. <b>90zł</b></li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li class="grey"><a href="https://wod.guru/kup-karnet/soca" class="button">Kup karnet</a></li>
      </ul>
    </div>

    <div class="columns">
      <ul class="price">
        <li class="header" style="background-color:#614FA1">Zumba Fitness</li>
        <li class="grey">Karnety ważne miesiąc</li>
        <li>4&times;60 min. <b>95zł</b></li>
        <li>8&times;60 min. <b>160zł</b></li>
        <li>12&times;60 min. <b>200zł</b></li>
        <li class="grey"><a href="https://wod.guru/kup-karnet/soca?passes=[9558,9620,9621]" class="button">Kup karnet</a></li>
      </ul>
    </div>

    <div class="columns">
      <ul class="price">
        <li class="header" style="background-color:grey">Bachata Lady Style</li>
        <li class="grey">Karnety ważne miesiąc</li>
        <li>4&times;60 min. <b>90zł</b></li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li class="grey"><a href="https://wod.guru/kup-karnet/soca?passes=[10112]" class="button">Kup karnet</a></li>
      </ul>
    </div>

    <div class="columns">
      <ul class="price">
        <li class="header" style="background-color:#d4af37">Zumba Gold</li>
        <li class="grey">Karnety ważne miesiąc</li>
        <li>4&times;60 min. <b>90zł</b></li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li class="grey"><a href="https://wod.guru/kup-karnet/soca?passes=[9622]" class="button">Kup karnet</a></li>
      </ul>
    </div>

  </div>

</div>
