<section appScrollManager>
<mat-drawer-container>
  <mat-drawer #drawer [mode]="isShowHideFlag">
    <mat-icon aria-hidden="false" class="close" (click)="drawer.toggle()">close</mat-icon>
    <br>
    <h1>SOCA Studio Tańca</h1>
    <mat-list role="list">
      <mat-list-item role="listitem" ><a appScrollAnchor="home" (click)="drawer.toggle()" mat-button>Strona Główna</a></mat-list-item>
      <mat-list-item role="listitem"><a appScrollAnchor="about" (click)="drawer.toggle()" mat-button>O Nas </a></mat-list-item>
      <mat-list-item role="listitem"><a appScrollAnchor="reviews" (click)="drawer.toggle()" mat-button>Opinie</a></mat-list-item>
      <mat-list-item role="listitem"><a appScrollAnchor="timetable" (click)="drawer.toggle()" mat-button>Grafik Zajęć</a></mat-list-item>
      <mat-list-item role="listitem"><a appScrollAnchor="contact" (click)="drawer.toggle()" mat-button>Kontakt</a></mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="nav">
      <div>
        <img src="assets/img/soca6.png" alt="logo soca">
      </div>
      <mat-divider></mat-divider>
      <mat-list role="list">
        <mat-list-item role="listitem"><a appScrollAnchor="home" mat-button>Strona Główna</a></mat-list-item>
        <mat-list-item role="listitem"><a appScrollAnchor="about" mat-button>O Nas </a></mat-list-item>
        <mat-list-item role="listitem"><a appScrollAnchor="reviews" mat-button>Opinie</a></mat-list-item>
        <mat-list-item role="listitem"><a appScrollAnchor="timetable" mat-button>Grafik Zajęć</a></mat-list-item>
        <mat-list-item role="listitem"><a appScrollAnchor="contact" mat-button>Kontakt</a></mat-list-item>
      </mat-list>
    </mat-toolbar>
    <div class="silder">
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="desktop-hide drawer-button" (click)="drawer.toggle()">
        reorder
      </mat-icon>
      <div id= "videoDiv" class="silder-content soca-font soca-logo" appScrollSection="home">
        <video id="video1" class="shadow" autoplay muted playsinline #video
               (canplay)="video.play()"
               (loadedmetadata)="video.muted = true">
          <source src="assets/mov/background.mp4" type="video/mp4">
        </video>
        <div id="videoMessage" class="styling">
          <img src="assets/img/soca1.png" alt="logo soca">

        </div>
      </div>
    </div>
    <app-about appScrollSection="about">
    </app-about>
    <app-reviews appScrollSection="reviews">
    </app-reviews>
    <app-timetable appScrollSection="timetable">
    </app-timetable>
    <div class="contactus">
      <h2>Subscribe now To get Updates</h2>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Subscribe</mat-label>
          <input matInput>
        </mat-form-field>
        <button mat-flat-button>Subscribe Now</button>
      </form>
    </div>
    <div class="footer" color="primary">
      <mat-toolbar color="primary">
        <span>SOCA 2022</span>
      </mat-toolbar>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
</section>
