
.soca {
  color: #ec2024;
}
.shadow {

  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

mat-toolbar {
  div {
    display: contents;

    img {
      height: 100% !important;
      width: auto !important;
    }
  }
}

.soca-logo {
  height: 100%;
  width: 100%;

  img {
    object-fit: contain;
    max-height: 300px;
    margin: 32px auto auto;

  }
}

.drawer-button {
  top: 0;
  right: 0;
  position: fixed;
  background-color: #1a1a1a;
}

#videoDiv {width:100%; margin:auto; display:block; position: relative;} /* This has been changed */
#video1{width:100%; height:auto} /* This has been changed */

#videoMessage {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
