<div class="contents" id="about" >

  <div class="row center-content">
    <span>Oferta</span>
    <div class="column center-content description">

      <div><p><span class="soca">ZUMBA FITNESS</span> - to zajęcia z niesamowitą energią, przeznaczone dla kobiet i mężczyzn od 16 roku życia. Na ZUMBIE spalisz mnóstwo kalorii, a przy tym będziesz się wspaniale bawić!</p>
        <p><span class="soca">ZUMBA GOLD</span> - przeznaczona dla osób 50+ lub mniej aktywnych fizycznie. Na ZUMBIE GOLD jest mnóstwo tańca, zabawy i uśmiechu.</p>
        <p><span class="soca">BACHATA LADY STYLE</span> - od 16 roku życia. Zmysłowe i pełne kobiecości zajęcia dla kobiet. Tutaj pracujemy nad rozwojem plastyczności, seksualności i pewności siebie. Odkrywamy piękno ruchu.</p>

      </div>
    </div>
  </div>

</div>
