<div class="reviews">
  <div class="row heading"><h3>Co o <span class="soca">nas</span> mówią goście?</h3></div>
  <div class="row">

    <div class="column">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <h3>Zero To Hero</h3>
      <p>Hit the ground running with comprehensive, modern UI components that work across the web, mobile, and
        desktop.
      </p>
    </div>
    <div class="column">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <h3>Fast and Consistent </h3>
      <p>Finely tuned performance, because every millisecond counts. Fully tested across modern browsers.
      </p>
    </div>
    <div class="column">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <h3>Optimized for Angular
      </h3>
      <p>Built by the Angular team to integrate seamlessly with Angular. so that all users are welcome.
      </p>
    </div>
  </div>
</div>
