<div class="reviews">
  <div class="row heading"><h3>Co o <span class="soca">nas</span> mówią goście?</h3></div>
  <div class="row">

    <div class="column">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <h3>Monika</h3>
      <p>To są po prostu zajęcia terapeutyczne dla ciała i ducha - uśmiech nie schodzi z twarzy! Cała ekipa z Agą na czele - rewelacja!
      </p>
    </div>
    <div class="column">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <h3>Małgorzata </h3>
      <p>Szeroka oferta wszelakich wygibasów, zarówno dla najmłodszych jak i dla dzieci.
      </p>
    </div>
    <div class="column">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <h3>Wojciech
      </h3>
      <p>Witam bardzo serdecznie polecam zajęcia Zumby z Agą można naprawdę fajnie spożytkować nadmiar energi i zrelaksować się ćwicząc a za razem tańcząc pozdrawiam 😉😉😉
      </p>
    </div>
  </div>
</div>
